@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.blog-tag {
    display: inline-flex;
    align-items: center;
    gap: rem(10px);
    padding: rem(11px) rem(20px);
    border-radius: 999px;
    font: 600 #{rem(13px)} / 120% $ff;
    text-transform: uppercase;
    margin-bottom: rem(23px);

    @include media('mobile') {
        font-size: rem(12px);
        gap: rem(12px);
        padding: rem(5px) rem(8px);
        margin-bottom: rem(12px);
    }

    svg {
        width: rem(11px);
        height: rem(11px);
        margin-top: -1px;
        color: inherit;
    }

    &--news {
        background: linear-gradient(90deg, #ddf9bd 0%, #b1ffe0 100%);
        color: #203805;
    }

    &--promotions {
        background: linear-gradient(90deg, #f6bb8b 0%, #fdefc4 100%);
        color: #000000;
    }

    &--articles {
        background: linear-gradient(90deg, #cab4ff 0%, #f1eefc 100%);
        color: #000000;
    }

    &--other {
        background: linear-gradient(90deg, #f2f4f7 0%, #e6e9ef 100%);
        color: #000000;
    }
}
