@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.border-gradient {
    position: relative;

        &::after {
            content: '';
            pointer-events: none;
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 2px;
            background: $primary_gradient;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
}
