@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.cross-block {
    --cross-size: #{rem(100px)};
    border-radius: rem(24px);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;

    @include media('mobile') {
        border-radius: rem(12px);
    }

    &--tl {
        mask-image:
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/svg%3E"),
            linear-gradient(#fff, #fff);

        -webkit-mask-image:
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/svg%3E"),
            linear-gradient(#fff, #fff);

        mask-position:
            -1px -1px,
            center;
        -webkit-mask-position:
            -1px -1px,
            center;

        mask-size:
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            120% 120%;
        -webkit-mask-size:
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            120% 120%;
    }

    &--lot {
        mask-image:
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='rotate(180 75 75)'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/g%3E%3C/svg%3E"),
            linear-gradient(#fff, #fff);

        -webkit-mask-image:
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='rotate(180 75 75)'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/g%3E%3C/svg%3E"),
            linear-gradient(#fff, #fff);

        mask-position:
            -1px -1px,
            calc(100% + 1px) calc(100% + 1px),
            center;
        -webkit-mask-position:
            -1px -1px,
            calc(100% + 1px) calc(100% + 1px),
            center;

        mask-size:
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            120% 120%;
        -webkit-mask-size:
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            120% 120%;
    }

    &--br {
        mask-image:
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='rotate(180 75 75)'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/g%3E%3C/svg%3E"),
            linear-gradient(#fff, #fff);

        -webkit-mask-image:
            url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='rotate(180 75 75)'%3E%3Cpath d='M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z' fill='black'/%3E%3C/g%3E%3C/svg%3E"),
            linear-gradient(#fff, #fff);

        mask-position:
            calc(100% + 1px) calc(100% + 1px),
            center;

        -webkit-mask-position:
            calc(100% + 1px) calc(100% + 1px),
            center;

        mask-size:
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            120% 120%;

        -webkit-mask-size:
            calc(var(--cross-size) + 2px) calc(var(--cross-size) + 2px),
            120% 120%;
    }
}
