@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.cross-block {
    --cross-size: #{rem(100px)};
    --bleed: 2px;

    $svg-path: 'M150 0C142.649 0 135.599 2.95657 130.401 8.21927L8.05038 132.095C3.30573 136.899 0.460408 143.266 0 150V0H150Z';

    border-radius: rem(24px);

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: mask-image;

    @include media('mobile') {
        border-radius: rem(12px);
        --cross-size: #{rem(75px)};
    }

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    &--tl,
    &--lot,
    &--br {
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }

    // Top-Left
    &--tl {
        $mask:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' preserveAspectRatio='none'%3E%3Cpath d='#{$svg-path}' fill='black'/%3E%3C/svg%3E"),
            linear-gradient(white, white);

        -webkit-mask-image: $mask;
        mask-image: $mask;

        -webkit-mask-position:
            calc(var(--bleed) * -1) calc(var(--bleed) * -1),
            0 0;
        mask-position:
            calc(var(--bleed) * -1) calc(var(--bleed) * -1),
            0 0;

        -webkit-mask-size:
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            100% 100%;
        mask-size:
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            100% 100%;
    }

    // Bottom-Right
    &--br {
        $mask:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' preserveAspectRatio='none'%3E%3Cg transform='rotate(180 75 75)'%3E%3Cpath d='#{$svg-path}' fill='black'/%3E%3C/g%3E%3C/svg%3E"),
            linear-gradient(white, white);

        -webkit-mask-image: $mask;
        mask-image: $mask;

        -webkit-mask-position:
            calc(100% + var(--bleed)) calc(100% + var(--bleed)),
            0 0;
        mask-position:
            calc(100% + var(--bleed)) calc(100% + var(--bleed)),
            0 0;

        -webkit-mask-size:
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            100% 100%;
        mask-size:
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            100% 100%;
    }

    // Left-Top + Bottom-Right (Combo)
    &--lot {
        $mask:
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' preserveAspectRatio='none'%3E%3Cpath d='#{$svg-path}' fill='black'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' preserveAspectRatio='none'%3E%3Cg transform='rotate(180 75 75)'%3E%3Cpath d='#{$svg-path}' fill='black'/%3E%3C/g%3E%3C/svg%3E"),
            linear-gradient(white, white);

        -webkit-mask-image: $mask;
        mask-image: $mask;

        -webkit-mask-position:
            calc(var(--bleed) * -1) calc(var(--bleed) * -1),
            calc(100% + var(--bleed)) calc(100% + var(--bleed)),
            0 0;
        mask-position:
            calc(var(--bleed) * -1) calc(var(--bleed) * -1),
            calc(100% + var(--bleed)) calc(100% + var(--bleed)),
            0 0;

        -webkit-mask-size:
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            100% 100%;
        mask-size:
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            calc(var(--cross-size) + (var(--bleed) * 2))
                calc(var(--cross-size) + (var(--bleed) * 2)),
            100% 100%;
    }
}
