@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.link-feedback {
    z-index: 2;
    width: max-content;
    font: 600 #{rem(15px)} / 140% $ff;
    text-transform: uppercase;
    display: inline-flex;
    color: $c_white;
    padding: rem(10px) rem(12px);
    position: relative;
    display: flex;
    gap: rem(24px);
    overflow: hidden;
    align-items: center;
    @include media('mobile') {
        padding: rem(8px) rem(12px);
        line-height: 100%;
        font-size: rem(14px);
    }
    span {
        border-radius: 999px;
        position: absolute;
        inset: 0;
        z-index: -1;
        height: 100%;
        background: $primary_gradient;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }
    svg {
        color: $c_white;
        path {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
        .first-wave {
            opacity: 0.5;
        }

        .second-wave {
            opacity: 0;
        }

        @include media('mobile') {
            width: rem(24px);
            height: rem(24px);
        }
    }
    @include hover {
        span {
            transform: scaleY(0.95);
        }
        svg {
            .first-wave {
                opacity: 1;
            }

            .second-wave {
                opacity: 1;
            }
        }
    }
}
