@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.link-feedback {
    font: 600 #{rem(15px)} / 140% $ff;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: rem(24px);
    justify-content: center;
    border-radius: 999px;
    padding: rem(10px) rem(12px);
    color: $c_white;
    background: $primary_gradient;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include media('mobile') {
        width: 100%;
        padding: rem(8px);
        gap: rem(12px);
        line-height: 100%;
        font-size: rem(14px);
    }
    svg {
        color: $c_white;
        path {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
        .first-wave {
            opacity: 0.5;
        }

        .second-wave {
            opacity: 0;
        }

        @include media('mobile') {
            width: rem(24px);
            height: rem(24px);
        }
    }
    @include hover {
        padding-block: rem(8px);
        svg {
            .first-wave {
                opacity: 1;
            }

            .second-wave {
                opacity: 1;
            }
        }
    }
}
