@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.link-feedback {
    width: max-content;
    height: rem(52px);
    font: 600 #{rem(15px)} / 140% $ff;
    text-transform: uppercase;
    display: inline-flex;
    color: $c_white;
    @include media('mobile') {
        line-height: 100%;
        height: rem(42px);
        font-size: rem(14px);
    }
    span {
        border-radius: 999px;
        height: 100%;
        padding: rem(10px) rem(12px);
        display: flex;
        gap: rem(24px);
        align-items: center;
        background: $primary_gradient;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }
    svg {
        color: $c_white;
        path {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
        .first-wave {
            opacity: 0.5;
        }

        .second-wave {
            opacity: 0;
        }

        @include media('mobile') {
            width: rem(24px);
            height: rem(24px);
        }
    }
    @include hover {
        span {
            padding-block: rem(8px);
            height: rem(47px);
            @include media('mobile') {
                height: rem(38px);
            }
        }
        svg {
            .first-wave {
                opacity: 1;
            }

            .second-wave {
                opacity: 1;
            }
        }
    }
}
