@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.tag {
    padding: rem(7px);
    display: inline-flex;
    align-items: center;
    gap: rem(20px);
    width: max-content;
    border-radius: rem(40px);
    font: 600 #{rem(13px)} / 120% $ff;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: $c_blue;
    color: $c_blue;
    opacity: 0.5;

    @include media('mobile') {
        font-size: rem(12px);
        gap: rem(12px);
        padding: rem(5px) rem(8px);
    }

    svg {
        width: rem(16px);
        height: rem(16px);
        margin-top: -1px;
        @include media('mobile') {
            width: rem(12px);
            height: rem(12px);
        }
    }
}
