@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.benefit-box {
    display: flex;
    gap: rem(8px);
    border-radius: rem(24px);
    @include media('tablet') {
        flex-direction: column-reverse;
    }

    .link-accent {
        margin-top: rem(56px);
        @include media('mobile') {
            margin-top: rem(24px);
        }
    }

    &__details {
        *:last-child {
            margin-bottom: 0;
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font: 600#{rem(56px)} / 100% $ff;
            margin: 0 0 rem(32px) 0;
            letter-spacing: -2px;
            @include media('laptop') {
                font-size: rem(46px);
            }
            @include media('tablet') {
                font-size: rem(38px);
            }
            @include media('mobile') {
                font-size: rem(28px);
                margin-bottom: rem(12px);
            }
        }

        p {
            font: 400 #{rem(20px)} / 30px $ff;
            @include media('mobile') {
                font-size: rem(16px);
            }
        }

        ol,
        ul {
            margin: 0 0 rem(16px) 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: rem(16px);
            @include media('mobile') {
                gap: rem(12px);
            }

            li {
                gap: rem(8px);
                font: 400 #{rem(20px)} / 30px $ff;
                display: inline-flex;
                @include media('mobile') {
                    font-size: rem(16px);
                    line-height: 120%;
                    align-items: baseline;
                }
            }
        }

        ol {
            counter-reset: item;

            li {
                counter-increment: item;
                &::before {
                    flex-shrink: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    content: counter(item);
                    font: 600 #{rem(15px)} / 140% $ff;
                    text-transform: uppercase;
                    width: rem(40px);
                    height: rem(30px);
                    @include media('mobile') {
                        width: rem(30px);
                        height: rem(30px);
                    }
                }
            }
        }

        ul {
            li {
                &::before {
                    content: '';
                    background: url('../images/icons/ico-check.svg') no-repeat
                        center center;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: rem(40px);
                    height: rem(40px);
                    @include media('mobile') {
                        width: rem(30px);
                        height: rem(30px);
                    }
                }
            }
        }
    }

    &__info {
        max-width: rem(989px);
        padding: rem(70px) rem(100px);
        background-color: #072136;

        @include media('desktop-lg') {
            max-width: 100%;
            width: 50%;
        }

        @include media('laptop') {
            padding: rem(90px) rem(20px);
        }

        @include media('tablet') {
            width: 100%;
        }

        @include media('mobile') {
            padding: rem(50px) rem(20px);
        }

        &.cross-block {
            --border-width: 2px;
            --inner-bg: #{$c_white};
            position: relative;

            @include media('mobile') {
                --cross-size: #{rem(45px)};
            }

            &::before {
                content: '';
                position: absolute;
                inset: var(--border-width);
                background-color: var(--inner-bg);
                z-index: -1;
                border-radius: inherit;
                mask-image: inherit;
                mask-size: inherit;
                mask-repeat: inherit;
                mask-composite: inherit;
                -webkit-mask-image: inherit;
                -webkit-mask-size: inherit;
                -webkit-mask-repeat: inherit;
                -webkit-mask-composite: inherit;
                mask-position:
                    -1.5px -1.5px,
                    calc(100% + 1.5px) calc(100% + 1.5px),
                    center;
                -webkit-mask-position:
                    -1.5px -1.5px,
                    calc(100% + 1.5px) calc(100% + 1.5px),
                    center;
            }
        }
    }

    &__tag {
        font: 600 #{rem(56px)} / 100% $ff;
        letter-spacing: -2px;
        position: absolute;
        z-index: 2;
        left: rem(40px);
        bottom: rem(35px);
        opacity: 0.6;
        color: $c_white;
        @include media('mobile') {
            font-size: rem(42px);
            left: rem(20px);
            bottom: rem(20px);
        }
    }

    &__pic {
        position: relative;
        max-width: rem(737px);
        width: 100%;
        @include media('desktop-lg') {
            max-width: 100%;
            width: 50%;
        }
        @include media('tablet') {
            width: 100%;
        }

        &.cross-block {
            --cross-size: #{rem(200px)};

            @include media('laptop') {
                --cross-size: #{rem(100px)};
            }
            @include media('mobile') {
                --cross-size: #{rem(45px)};
            }
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
