@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.service-box {
    display: grid;
    position: relative;
    min-height: rem(540px);
    max-width: rem(700px);
    border-radius: rem(24px);
    overflow: hidden;
    color: $c_white;

    @include media('mobile') {
        min-height: rem(380px);
        border-radius: rem(16px);
    }

    &::before {
        content: '';
        inset: 0;
        position: absolute;
        pointer-events: none;
        z-index: 1;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }

    &__thumb {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        gap: rem(20px);
        flex-direction: column;
        justify-content: space-between;
    }

    &__tag {
        font: 600 #{rem(40px)} / 130% $ff;
        letter-spacing: -2px;
        padding: rem(0px) rem(32px) rem(20px) rem(40px);
        opacity: 0.6;
        max-width: 80%;
        @include media('mobile') {
            padding: rem(0px) rem(12px) rem(12px) rem(12px);
            font-size: rem(26px);
        }
    }

    &__about {
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        margin: rem(32px);
        border-radius: rem(16px);
        padding: rem(40px) rem(20px);
        background: #828d9533;
        backdrop-filter: blur(48px);
        @include media('mobile') {
            border-radius: rem(12px);
            padding: rem(14px);
            margin: rem(12px);
            gap: rem(12px);
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font: 400 #{rem(24px)} / 130% $ff;
            letter-spacing: -1px;
            margin: 0 0 rem(16px) 0;
            @include media('mobile') {
                font-size: rem(18px);
            }
        }

        p {
            font: 400 #{rem(14px)} / 170% $ff;
            &:where(:not([class]):not(:last-child)) {
                margin-bottom: rem(16px);
            }
        }
        ol,
        ul {
            padding: 0;
            margin: 0 0 rem(16px);
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap: rem(16px);
            @include media('mobile') {
                gap: rem(12px);
            }

            li {
                position: relative;
                font: 400 #{rem(14px)} / 30px $ff;
                @include media('mobile') {
                    font-size: rem(16px);
                }

                &::before {
                    flex-shrink: 0;
                }
            }
        }

        ul {
            li {
                padding-left: rem(48px);
                @include media('mobile') {
                    padding-left: rem(32px);
                }
                &::before {
                    left: 0;
                    top: rem(-5px);
                    position: absolute;
                    content: '';
                    width: rem(40px);
                    height: rem(40px);
                    mask: url('../images/icons/ico-check.svg') no-repeat center
                        center;
                    background: #ffffff;
                    @include media('mobile') {
                        width: rem(24px);
                        height: rem(24px);
                        top: rem(3px);
                    }
                }
            }
        }

        ol {
            counter-reset: counter;

            li {
                counter-increment: counter;
                padding-left: rem(48px);
                @include media('mobile') {
                    padding-left: rem(32px);
                }
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: counter(counter);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font: 600 #{rem(15px)} / 140% $ff;
                    text-transform: uppercase;
                    width: rem(40px);
                    height: rem(30px);
                    @include media('mobile') {
                        font-size: rem(14px);
                        width: rem(24px);
                        height: rem(24px);
                        top: rem(3px);
                    }
                }
            }
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
}
