<section class="blog">
    <div class="blog__bg">
        <img src="./assets/images/blog-bg.jpg" alt="">
    </div>
    <div class="container js-blog-collect">
        <div class="blog__info">
            {{> _breadcrumbsBuilder}}
            {{> _tag label = "Блог" }}
            {{> _titleBuilder
            className = "section-heading"
            tagWrapper = "h1"
            label = "Актуальне та корисне"
            }}
        </div>
        <div class="blog__controls">
            {{> _btnAnchor
                label = "Все"
                additClass = "btn-anchor--light js-blog-filter is-active"
            }}
            {{> _btnAnchor
                label = "Новини"
                additClass = "btn-anchor--light js-blog-filter"
            }}
            {{> _btnAnchor
                label = "Акції"
                additClass = "btn-anchor--light js-blog-filter"
            }}
            {{> _btnAnchor
                label = "Статті"
                additClass = "btn-anchor--light js-blog-filter"
            }}
        </div>
        <div class="blog__collect">
            {{#each blog.blog}}
            {{> _blogBox this}}
            {{/each}}
        </div>
        <p class="blog__empty" style="display: none;">Публікації відсутні</p>
        {{> _btnMore additClasses = "js-blog-more"}}
    </div>
</section>