<section class="control">
    <div class="container">
        <div class="control__info">
            <h2>Контроль ремонту в режимі реального часу</h2>
            <h3>
                Ми впроваджуємо сучасну CRM-систему сервісного обслуговування, яка забезпечує повну прозорість усіх
                процесів ремонту.
            </h3>
            <p>
                Після оформлення заявки клієнт має можливість отримати доступ до особистого кабінету, де в режимі
                реального часу може відстежувати кожен етап обслуговування техніки.
            </p>
            <p>Система відображає повний цикл:</p>
            <ol>
                <li>Створення та підтвердження заявки</li>
                <li>Отримання техніки сервісним центром</li>
                <li>Діагностика</li>
                <li>Узгодження умов ремонту</li>
                <li>Виконання робіт</li>
                <li>Підготовка до відправки</li>
                <li>Повернення клієнту</li>
            </ol>
            <h3>
                Клієнт бачить не лише статус ремонту, а й розуміє, на якому етапі знаходиться його техніка та як
                просувається процес обслуговування.
            </h3>
        </div>
        <div class="control__pic cross-block cross-block--lot">
            <img loading="lazy" decoding="async" src="./assets/images/service_2.jpg" alt="Picture">
        </div>
    </div>
</section>