<section class="innovation">
    <div class="container">
        <div class="innovation__pic cross-block cross-block--lot">
            <img loading="lazy" decoding="async" src="./assets/images/innovation.jpg" alt="Picture">
        </div>
        <div class="innovation__info">
            {{> _titleBuilder
                tagWrapper = "h2"
                label = "Інноваційний сервіс"
                className = "section-subheading"
            }}
            <div class="innovation__text">
                <p>
                    Ми створюємо новий стандарт сервісного обслуговування у сфері nail-індустрії.
                </p>
                <p>Автоматизація процесів дозволяє:</p>
            </div>
            <ul class="innovation__list">
                <li>Скоротити час обробки заявок</li>
                <li>Мінімізувати людський фактор</li>
                <li>Забезпечити точність комунікації</li>
                <li>Гарантувати прозорість на кожному етапі</li>
            </ul>
            <div class="innovation__text">
                <p>
                    Такий підхід дозволяє клієнту бути впевненим у якості сервісу ще до завершення ремонту.
                </p>
            </div>
        </div>
    </div>
</section>