<section class="control control--reverse control--colored">
    <div class="container">
        <div class="control__info">
            <h2>Інноваційний сервіс</h2>
            <p>
                Ми створюємо новий стандарт сервісного обслуговування у сфері nail-індустрії.
            </p>
            <p>Автоматизація процесів дозволяє:</p>
            <ul>
                <li>Скоротити час обробки заявок</li>
                <li>Мінімізувати людський фактор</li>
                <li>Забезпечити точність комунікації</li>
                <li>Гарантувати прозорість на кожному етапі</li>
            </ul>
            <p>
                Такий підхід дозволяє клієнту бути впевненим у якості сервісу ще до завершення ремонту.
            </p>
        </div>
        <div class="control__pic cross-block cross-block--lot">
            <img loading="lazy" decoding="async" src="./assets/images/innovation.jpg" alt="Picture">
        </div>
    </div>
</section>