<section class="preview">
    <div class="container">
        <div class="preview__descr">
            <div class="preview__info">
                {{#if sectionSubtitle}}
                    {{> _titleBuilder
                        label = subtitleText
                        tagWrapper = "h3"
                    }}
                {{/if}}
                {{#if sectionTitle}}
                    {{> _titleBuilder
                        label = titleText
                        tagWrapper = 'h2'
                    }}
                {{/if}}
                {{{ info }}}
            </div>
            {{#if linkFeedback}}
                {{> _linkFeedback
                    additClasses = "js-questions-btn"
                }}
            {{/if}}

            {{#if linkAccent}}
                {{> _linkAccent
                    label = linkText
                    additClasses = "js-review-btn"
                }}
            {{/if}}

            {{#if linkRoute}}
                {{> _linkRoutes
                    label = linkText
                }}
            {{/if}}
        </div>

        {{#if showBrandsBox}} {{> _brandsBox}} {{/if}}

        {{#if showFAQBox}} {{> _faqList}} {{/if}}

        {{#if tesitmonialCollect}}
            <div class="testimonial-collect js-testimonial-collect">
                <div class="testimonial-collect__wrapper">
                    {{#each testimonials.testimonials}}
                        {{> _testimonialBox this}}
                    {{/each}}
                </div>
                {{> _btnMore additClasses = "js-testimonial-more"}}
            </div>
        {{/if}}
    </div>
</section>