<section class="standart">
    <div class="container">
        <div class="standart__content glass glass--blue cross-block cross-block--lot">
            <div class="standart__info">
                <h2>Новий стандарт в обслуговуванні</h2>
                <p>
                    Ми впроваджуємо систему, яка змінює підхід до сервісу: від «очікування відповіді» — до повного контролю процесу.
                </p>
                <p>
                    Це не просто сервісний центр — це сучасна сервісна інфраструктура, яка працює за принципами відкритості, швидкості та відповідальності.
                </p>
            </div>
            {{> _linkAccent
                label = "Подати заявку"
                additClasses = "js-contact-trigger"
            }}
        </div>
    </div>
</section>