<section class="terms">
    <div class="container">
        <div class="terms__controls">
            {{> _btnAnchor
            label = "умови відправки техніки до сервісного центру"
            href = "#chapter_1"
            }}
            {{> _btnAnchor
            label = "Умови надання гарантійного обслуговування"
            href = "#chapter_2"
            }}
        </div>
        <div class="terms__content">
            <div class="terms__chapter" id="chapter_1">
                <h2>Умови відправки техніки до сервісного центру</h2>
                <p>
                    Помітили несправності в роботі техніки?
                </p>
                <p>
                    Сторонні звуки, нестабільна робота або проблеми з увімкненням можуть свідчити про технічну
                    несправність.Зверніться до сервісного центру та оформіть заявку на ремонт — це допоможе швидко
                    виявити причину проблеми та відновити коректну роботу пристрою.
                </p>
                <h3>Перед відправкою техніки необхідно дотримуватися наступних рекомендацій:</h3>
                <ol>
                    <li>
                        Оформити заявку на ремонт (самостійно, на сайті сервісного центру, або з допомогою менеджера по
                        сервісному обслуговуванню)
                    </li>
                    <li>
                        Перевірити комплектацію техніки Знайдіть оригінальне пакування виробника та всі комплектуючі до
                        пристрою з супровідною документацією та товарним чеком покупки. Переконайтеся, що гарантійний
                        термін не закінчився (див. розділ Умови відправки техніки за гарантією).
                    </li>
                    <li>
                        Підготувати пристрій до відправлення Очистіть прилад від залишків матеріалів, пилу та бруду.
                    </li>
                    <li>
                        Пакування при відсутності оригінальної коробки ( не гарантійне обслуговування) Якщо гарантійний
                        термін закінчився, або упаковка не збереглася, можна скористатися послугами пакування
                        перевізника (Нова пошта) або підібрати коробку відповідного розміру самостійно.
                    </li>
                    <li>
                        Надійно зафіксувати техніку в коробці Пристрій і комплектуючі повинні бути добре зафіксовані та
                        не переміщуватися всередині коробки. Дрібні деталі рекомендується покласти в окремий пакет. Для
                        ущільнення можна використовувати папір, повітряно-бульбашкову плівку або інші пакувальні
                        матеріали. Надійне пакування допоможе уникнути пошкоджень під час транспортування.
                    </li>
                    <li>
                        Перевірити перед відправкою Переконайтеся, що всі необхідні деталі вкладені в коробку, а
                        упаковка надійно закрита. Рекомендується додатково обгорнути коробку захисним матеріалом,
                        оскільки під час транспортування на неї можуть впливати зовнішні фактори (волога, механічні
                        навантаження тощо).
                    </li>
                    <li>
                        Отримати підтвердження оформленої заявки на сервісне обслуговування від менеджера сервісного
                        центру.
                    </li>
                </ol>
            </div>
            <div class="terms__chapter" id="chapter_2">
                <h2>Умови надання гарантійного обслуговування</h2>
                <blockquote>
                    <h3>Зверніть увагу!</h3>

                    <p>
                        Гарантійний талон є основним документом для подальшого гарантійного сервісу.
                    </p>
                    <p>
                        Гарантійний талон надається в комплекті з кожною одиницею товару. Він  повинен  обов’язково
                        заповнюватись під час продажу.
                    </p>
                    <p>
                        Чек або товарна накладна без заповненого гарантійного талона —НЕ Є ПІДСТАВОЮ ДЛЯ НАДАННЯ
                        СЕРВІСНОГО
                        ОБСЛУГОВУВАННЯ.
                    </p>
                    <p>
                        Товари, що надходять на ремонт без заповненого, або з некоректно заповненим гарантійним талоном,
                        АВТОМАТИЧНО ПОВЕРТАЮТЬСЯ відправнику за рахунок отримувача з приміткою:  «В гарантійному
                        обслуговуванні відмовлено через незаповнений / некоректно заповнений гарантійний талон»
                    </p>
                </blockquote>
                <ol>
                    <li>
                        Гарантія дійсна лише за наявності правильно та чітко заповненого гарантійного талона із зазначенням серійного номера виробу, дати продажу, гарантійного терміну. (для фрезерів — серійний номер блоку та ручки • для ламп і витяжок — індивідуальний серійний номер пристрою)
                    </li>
                    <li>
                        Безкоштовний ремонт проводиться тільки протягом гарантійного терміну, зазначеного в даному гарантійному талоні.
                    </li>
                    <li>
                        Серійний номер та модель виробу повинні відповідати зазначеним у гарантійному талоні.
                    </li>
                    <li>
                        Виріб знімається з гарантії у таких випадках:
                        <ol>
                            <li>
                                Якщо має сліди стороннього втручання, або була спроба ремонту виробу у неуповноваженому сервісному центрі;
                            </li>
                            <li>
                                Якщо виявлено несанкціоновані зміни конструкції чи схеми виробу.
                            </li>
                        </ol>
                    </li>
                    <li>
                        ГАРАНТІЙНІ ЗОБОВЯЗУВАННЯ НЕ ПОШИРЮЮТЬСЯ НА ТЕХНІЧНІ НЕДОЛІКИ:
                        <ol>
                            <li>
                                Пошкодження, спричинені надмірними навантаженнями, неналежним поводженням або технічним доглядом;
                            </li>
                            <li>
                                Пошкодження, спричинені нормальним зносом (виробленням) деталей виробу; механічні ушкодження;
                            </li>
                            <li>
                                Пошкодження, спричинені потраплянням усередину виробу сторонніх предметів, речовин, рідин, комах;
                            </li>
                            <li>
                                Пошкодження, спричинені стихією, пожежею, побутовими факторами;
                            </li>
                            <li>
                                Пошкодження, спричинені невідповідністю Державним стандартам параметрів живильних, кабельних мереж та інших подібних зовнішніх факторів (невідповідна напруга в електромережі, несправні розетки);
                            </li>
                            <li>
                                Пошкодження, спричинені використанням нестандартних витратних матеріалів та запчастин;
                            </li>
                            <li>
                                Пошкодження, спричинені недотриманням правил роботи з апаратом, а саме: - перемикання напрямку обертання на протилежне (кнопка F/R) без попереднього ПОВНОГО ВИМКНЕННЯ електроживлення апарату, а також інших пунктів ПРАВИЛ РОБОТИ З АПАРАТОМ.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Гарантія не поширюється на підшипники, запасні щітки та інші комплектуючі.
                    </li>
                    <li>
                        Несправний виріб приймається тільки в чистому вигляді, в повній комплектації, в оригінальній упаковці.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>