<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <img loading="lazy" decoding="async" src="./assets/images/icons/logo-blur.png" alt="Logo">
        </div>
        <div class="footer__info">
            <div class="footer__details glass glass--blue cross-block cross-block--lot">
                <div class="footer__panel">
                    <div class="footer__summary">
                        <p>
                            Спеціалізований сервіс з діагностики, ремонту та обслуговування професійного обладнання для
                            nail-індустрії з повним контролем процесу.
                        </p>
                        <p>
                            Спеціалізований сервіс з діагностики, ремонту та обслуговування професійного обладнання для
                            nail-індустрії з повним контролем процесу.
                        </p>
                        <div class="footer__banking">
                            <img src="./assets/images/icons/ico-visa.svg" alt="Visa">
                            <img src="./assets/images/icons/ico-master.svg" alt="MasterCard">
                        </div>
                        <p class="footer__copy">© NeoProService 2026</p>
                    </div>
                    <div class="footer__contacts">
                        <div class="footer__address">
                            <p>Головний офіс</p>
                            <p>
                                Україна, 61068, Харків, <br> вул. Ак. Павлова, 120, офіс 5
                            </p>
                        </div>
                        <div class="footer__connect">
                            <div class="col">
                                <a href="tel:+0000000000">
                                    <span>T:</span>
                                    <span>+38 (096) 907 0312</span>
                                </a>
                                <a href="mailto:neopro.service.ua@gmail.com">
                                    <span>E:</span>
                                    <span>neopro.service.ua@gmail.com</span>
                                </a>
                            </div>
                            {{> _linkFeedback
                                additClasses = 'js-request-btn'
                            }}
                        </div>
                        <ul class="footer__soc">
                            <li>
                                <a href="javascript: void(0)" target="_blank">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M25.7771 8.47205H13.9129C10.6352 8.47205 7.96875 11.1385 7.96875 14.4162V25.2702C7.96875 28.5479 10.6352 31.2144 13.9129 31.2144H25.7771C29.0548 31.2144 31.7213 28.5479 31.7213 25.2702V14.4162C31.7213 11.1385 29.0548 8.47205 25.7771 8.47205ZM10.0657 14.4162C10.0657 12.2951 11.7918 10.569 13.9129 10.569H25.7771C27.8982 10.569 29.6244 12.2951 29.6244 14.4162V25.2702C29.6244 27.3913 27.8982 29.1175 25.7771 29.1175H13.9129C11.7918 29.1175 10.0657 27.3913 10.0657 25.2702V14.4162Z"
                                            fill="#EBEBEB" />
                                        <path
                                            d="M25.7771 8.47205H13.9129C10.6352 8.47205 7.96875 11.1385 7.96875 14.4162V25.2702C7.96875 28.5479 10.6352 31.2144 13.9129 31.2144H25.7771C29.0548 31.2144 31.7213 28.5479 31.7213 25.2702V14.4162C31.7213 11.1385 29.0548 8.47205 25.7771 8.47205ZM10.0657 14.4162C10.0657 12.2951 11.7918 10.569 13.9129 10.569H25.7771C27.8982 10.569 29.6244 12.2951 29.6244 14.4162V25.2702C29.6244 27.3913 27.8982 29.1175 25.7771 29.1175H13.9129C11.7918 29.1175 10.0657 27.3913 10.0657 25.2702V14.4162Z"
                                            fill="#E6E7EC" />
                                        <path
                                            d="M19.8455 25.3712C22.8935 25.3712 25.3746 22.8914 25.3746 19.8421C25.3746 16.7927 22.8949 14.313 19.8455 14.313C16.7962 14.313 14.3164 16.7927 14.3164 19.8421C14.3164 22.8914 16.7962 25.3712 19.8455 25.3712ZM19.8455 16.4112C21.7383 16.4112 23.2777 17.9507 23.2777 19.8434C23.2777 21.7362 21.7383 23.2756 19.8455 23.2756C17.9528 23.2756 16.4133 21.7362 16.4133 19.8434C16.4133 17.9507 17.9528 16.4112 19.8455 16.4112Z"
                                            fill="#EBEBEB" />
                                        <path
                                            d="M19.8455 25.3712C22.8935 25.3712 25.3746 22.8914 25.3746 19.8421C25.3746 16.7927 22.8949 14.313 19.8455 14.313C16.7962 14.313 14.3164 16.7927 14.3164 19.8421C14.3164 22.8914 16.7962 25.3712 19.8455 25.3712ZM19.8455 16.4112C21.7383 16.4112 23.2777 17.9507 23.2777 19.8434C23.2777 21.7362 21.7383 23.2756 19.8455 23.2756C17.9528 23.2756 16.4133 21.7362 16.4133 19.8434C16.4133 17.9507 17.9528 16.4112 19.8455 16.4112Z"
                                            fill="#E6E7EC" />
                                        <path
                                            d="M25.8838 15.2063C26.7044 15.2063 27.3731 14.5387 27.3731 13.7166C27.3731 12.8944 26.7057 12.2268 25.8838 12.2268C25.062 12.2268 24.3945 12.8944 24.3945 13.7166C24.3945 14.5387 25.062 15.2063 25.8838 15.2063Z"
                                            fill="#EBEBEB" />
                                        <path
                                            d="M25.8838 15.2063C26.7044 15.2063 27.3731 14.5387 27.3731 13.7166C27.3731 12.8944 26.7057 12.2268 25.8838 12.2268C25.062 12.2268 24.3945 12.8944 24.3945 13.7166C24.3945 14.5387 25.062 15.2063 25.8838 15.2063Z"
                                            fill="#E6E7EC" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <div class="footer__legals">
                            {{> _linkBuilder
                                url = 'javascript: void(0)'
                                blank = 1
                                label = 'Політика конфеденційності'
                            }}
                            {{> _linkBuilder
                                url = 'javascript: void(0)'
                                blank = 1
                                label = 'Обробка персональных данных'
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__menu glass glass--blue cross-block cross-block--tl">
                <ul class="footer__routes">
                    {{#each menuInfo.menuFooter}}
                    <li>
                        {{> _linkBuilder
                            url = url
                            label = title
                        }}
                    </li>
                    {{/each}}
                </ul>
                <a href="javascript: void(0)" class="footer__by">
                    By
                    <img src="./assets/images/icons/logo-by.svg" alt="Esfirum">
                </a>
            </div>
        </div>
    </div>
</footer>