@use 'media' as *;
@use 'mixins' as *;

$ff: 'IBM Plex Sans', sans-serif;
$ff_accent: 'FF accent', sans-serif;
$system-ff:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;

$container_wdth: #{rem(1760px)};

$c_primary: #de5126;
$c_secondary: #181d27;
$c_orange: #ffa126;
$c_half: #535862;
$c_white: #ffffff;
$c_black: #000000;
$c_blue: #072136;
$c_sky: #e6e7ec;
$c_grey: #537896;

$bg_content: #fff;

$primary_gradient: linear-gradient(90deg, #ffa126 0%, #de5126 100%);

:root {
    --header-h: #{rem(108px)};
    --container_pdd: #{rem(20px)};
}

@include media('desktop-lg') {
    :root {
        --header-h: #{rem(142px)};
    }
}

@include media('laptop') {
    :root {
        --header-h: #{rem(78px)};
    }
}

@include media('tablet') {
    :root {
        --container_pdd: #{rem(15px)};
    }
}

@include media('mobile') {
    :root {
        --header-h: #{rem(66px)};
        --container_pdd: #{rem(12px)};
    }
}
