@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.footer {
    padding-block: rem(135px) rem(32px);

    .cross-block {
        @include media('mobile') {
            --cross-size: #{rem(40px)};
        }
    }

    @include media('tablet') {
        padding-block: rem(80px);
    }
    @include media('mobile') {
        padding-block: rem(56px);
    }

    &__logo {
        margin-bottom: rem(97px);
        max-width: rem(997px);

        @include media('tablet') {
            margin-bottom: rem(56px);
            max-width: rem(450px);
        }

        @include media('mobile') {
            max-width: rem(360px);
            margin-bottom: rem(24px);
        }

        img {
            width: 100%;
        }
    }

    &__details {
        padding: rem(60px) rem(60px) rem(28px) rem(60px);
        @include media('mobile') {
            padding: rem(40px) rem(20px) rem(20px);
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
        justify-content: space-between;
        padding: rem(60px) rem(60px) rem(28px) rem(130px);
        @include media('desktop') {
            padding: rem(60px) rem(60px) rem(28px) rem(60px);
        }
        @include media('mobile') {
            padding: rem(40px) rem(20px) rem(20px);
        }
    }

    &__routes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(8px) rem(50px);
        @include media('tablet') {
            display: flex;
            flex-wrap: wrap;
        }
        @include media('mobile') {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            gap: rem(8px);
        }

        li {
            font: 400 #{rem(18px)} / 120% $ff;
            @include media('mobile') {
                font-size: rem(14px);
            }

            a {
                display: flex;
                align-items: center;
                min-height: rem(32px);
                font: inherit;
                color: $c_white;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include hover {
                    color: $c_orange;
                }
                @include media('mobile') {
                    min-height: rem(20px);
                }
            }
        }
    }

    &__by {
        font: 400 #{rem(16px)} / 180% $ff;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: rem(16px);
        color: $c_white;
        @include media('mobile') {
            font-size: rem(14px);
            gap: rem(8px);
        }

        img {
            margin-top: rem(3px);
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: rem(8px);
        @include media('tablet') {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font: 400 #{rem(14px)} / 170% $ff;
        max-width: rem(211px);
        @include media('mobile') {
            font-size: rem(12px);
            max-width: 90%;
        }
    }

    &__banking {
        display: flex;
        align-items: center;
        gap: rem(16px);
        max-width: rem(90px);
    }

    &__address {
        p {
            margin: 0;
            &:first-child {
                font: 400 #{rem(14px)} / 170% $ff;
                opacity: 0.4;
                @include media('mobile') {
                    font-size: rem(12px);
                }
            }

            &:last-child {
                font: 600 #{rem(22px)} / 140% $ff;
                text-transform: uppercase;
                @include media('mobile') {
                    font-size: rem(16px);
                }
            }
        }
    }

    &__connect {
        flex-wrap: wrap;
        display: flex;
        align-items: flex-start;
        gap: rem(18px);

        .col {
            display: flex;
            flex-direction: column;
            gap: rem(24px);
            @include media('mobile') {
                gap: rem(12px);
            }

            a {
                display: flex;
                align-items: center;
                gap: rem(15px);
                @include media('mobile') {
                    gap: rem(8px);
                }

                span {
                    &:first-child {
                        font: 600 #{rem(15px)} / 140% $ff;
                        text-transform: uppercase;
                        opacity: 0.4;
                        color: #e6e7ec;
                        @include media('mobile') {
                            font-size: rem(13px);
                        }
                    }

                    &:last-child {
                        font: 600 #{rem(22px)} / 140% $ff;
                        text-transform: uppercase;
                        display: inline-flex;
                        position: relative;
                        color: #e6e7ec;
                        @include media('mobile') {
                            font-size: rem(16px);
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            opacity: 0.4;
                            background: $c_white;
                        }
                    }
                }
            }
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        gap: rem(24px);

        li {
            width: rem(40px);
            height: rem(40px);

            a {
                width: 100%;
                height: 100%;
                @include hover {
                    svg {
                        color: $c_orange;
                    }
                }
            }

            svg {
                color: #ebebeb;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }
        }
    }

    &__legals {
        display: flex;
        align-items: center;
        gap: rem(32px);
        flex-wrap: wrap;
        @include media('mobile') {
            gap: rem(12px);
        }
    }

    &__copy {
        // margin-top: auto;
        font: 400 #{rem(16px)} / 180% $ff;
        @include media('mobile') {
            font-size: rem(14px);
        }
    }

    &__legals {
        a {
            font: 400 #{rem(16px)} / 180% $ff;
            opacity: 0.4;
            position: relative;
            color: #ebebeb;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            @include hover {
                opacity: 1;
            }

            @include media('mobile') {
                font-size: rem(14px);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                opacity: 0.4;
                background: $c_white;
            }
        }
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        gap: rem(24px);
        @include media('desktop') {
            flex-direction: column-reverse;
        }
    }

    &__summary {
        display: flex;
        flex-direction: column;
        gap: rem(12px);
        justify-content: space-between;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: rem(32px);
        @include media('mobile') {
            gap: rem(24px);
        }
    }
}
