@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.app-modal {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    inset: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    color: #072136;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    &.is-open {
        opacity: 1;
        visibility: visible;
        .app-modal__flow,
        .app-modal__show {
            transform: translateX(0%);
        }
    }

    &__form {
        flex: 1;
        margin-bottom: rem(22px);

        @include media('mobile') {
            margin-bottom: rem(12px);
        }
    }

    &__submit {
        height: 100%;
        padding-inline: rem(42px);
        padding-block: rem(72px) rem(50px);
        @include media('desktop') {
            padding-inline: rem(36px);
        }
        @include media('laptop') {
            padding-inline: rem(24px);
        }
        @include media('mobile') {
            padding-block: rem(24px) rem(12px);
            padding-inline: var(--container_pdd);
        }
    }

    &__flow {
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        width: 60%;
        background: $bg_content;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @media (max-width: 1390.98px) {
            width: 70%;
        }
        @include media('mobile') {
            width: 100%;
        }
    }

    &__head {
        position: relative;
        padding-block: rem(72px) rem(24px);
        padding-inline: rem(42px) rem(26px);
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: rem(12px);
        justify-content: space-between;
        @include media('desktop') {
            padding-inline: rem(36px);
        }
        @include media('laptop') {
            padding-inline: rem(24px);
        }
        @include media('mobile') {
            padding-block: rem(42px) rem(12px);
            padding-inline: var(--container_pdd);
        }
    }

    &__close {
        position: absolute;
        top: rem(24px);
        left: rem(24px);
        width: rem(24px);
        height: rem(24px);
        color: #537896;

        @include media('mobile') {
            width: rem(20px);
            height: rem(20px);
            top: rem(12px);
            right: rem(12px);
            left: auto;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__titles {
        display: flex;
        flex-direction: column;
        gap: rem(8px);
        width: 100%;
        margin: 0 auto;
        @include media('mobile') {
            gap: rem(5px);
        }
    }

    &__heading {
        font: 600 #{rem(40px)} / 130% $ff;
        letter-spacing: -2px;
        @include media('mobile') {
            font-size: rem(26px);
        }
    }

    &__subheading {
        font: 400 #{rem(20px)} / 30px $ff;
        @include media('mobile') {
            font-size: rem(16px);
            line-height: 120%;
        }
    }

    &__show {
        transform: translateX(-100%);
        position: relative;
        width: 40%;
        padding: var(--container_pdd);
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @media (max-width: 1390.98px) {
            width: 30%;
        }
        @include media('mobile') {
            display: none;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            will-change: transform;
        }

        .logo-blur {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            right: auto;
            z-index: 2;
            width: rem(540px);
            max-width: 95%;
        }
    }
}
