@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.breadcrumbs {
    padding-top: rem(24px);
    margin-bottom: rem(56px);
    color: #b0bec9;
    @include media('mobile') {
        padding-top: rem(20px);
        margin-bottom: rem(32px);
    }
    ul {
        display: flex;
        align-items: baseline;
        gap: rem(10px);
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            font: 400 #{rem(14px)} / 140% $ff;
            @include media('mobile') {
                font-size: rem(13px);
            }

            &:has(> a) {
                display: flex;
                align-items: center;
                gap: rem(10px);
            }

            &:last-child {
                opacity: 0.6;
            }
        }
    }

    svg {
        width: rem(11px);
        height: rem(11px);
        flex-shrink: 0;
    }
}
