<div class="account-info account-info--devices">
    <div class="account-info__head">
        <h3 class="account-info__title">Мої пристрої</h3>
        <div class="account-info__reminder">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16 2.5C17.8715 2.5 19.6237 2.85475 21.2617 3.56152C22.9095 4.27253 24.3383 5.23476 25.5518 6.44824C26.7652 7.66173 27.7275 9.09054 28.4385 10.7383C29.1452 12.3763 29.5 14.1285 29.5 16C29.5 17.8715 29.1452 19.6237 28.4385 21.2617C27.7275 22.9095 26.7652 24.3383 25.5518 25.5518C24.3383 26.7652 22.9095 27.7275 21.2617 28.4385C19.6237 29.1452 17.8715 29.5 16 29.5C14.1285 29.5 12.3763 29.1452 10.7383 28.4385C9.09054 27.7275 7.66173 26.7652 6.44824 25.5518C5.23476 24.3383 4.27253 22.9095 3.56152 21.2617C2.85475 19.6237 2.5 17.8715 2.5 16C2.5 14.1285 2.85475 12.3763 3.56152 10.7383C4.27253 9.09054 5.23476 7.66173 6.44824 6.44824C7.66173 5.23476 9.09054 4.27253 10.7383 3.56152C12.3763 2.85475 14.1285 2.5 16 2.5Z"
                    stroke="#537896"></path>
                <path
                    d="M16 11C15.7167 11 15.4792 11.0958 15.2875 11.2875C15.0958 11.4792 15 11.7167 15 12C15 12.2833 15.0958 12.5208 15.2875 12.7125C15.4792 12.9042 15.7167 13 16 13C16.2833 13 16.5208 12.9042 16.7125 12.7125C16.9042 12.5208 17 12.2833 17 12C17 11.7167 16.9042 11.4792 16.7125 11.2875C16.5208 11.0958 16.2833 11 16 11ZM17 15L15 15L15 21L17 21L17 15Z"
                    fill="#537896"></path>
            </svg>
            <p>
                Для додавання нового пристрою до списку будь-ласка звяжіться з нашим менеджером.
            </p>
        </div>
    </div>
    <div class="site-search">
        <div class="site-search__field js-search-panel">
            <form>
                <input type="search" name="siteSearch" id="siteSearch" placeholder="Пошук зареєстрованих пристроїв">
                <button class="site-search__clear js-search-clear" type="button">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2095_14294)">
                            <path
                                d="M14.4 27L13 25.6L18.6 20L13 14.4L14.4 13L20 18.6L25.6 13L27 14.4L21.4 20L27 25.6L25.6 27L20 21.4L14.4 27Z"
                                fill="#B0BEC9" />
                        </g>
                        <defs>
                            <clipPath id="clip0_2095_14294">
                                <rect width="40" height="40" rx="20" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="account-table account-table--lg">
        <div class="account-table__head">
            <p class="account-table__heading">#</p>
            <p class="account-table__heading">Обладнання</p>
            <p class="account-table__heading">Дата реєстрації</p>
            <p class="account-table__heading">Серійний номер</p>
        </div>
        <div class="account-table__items">
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <div class="device-box">
                <span class="device-box__num">0001</span>
                <p class="device-box__name">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
                <p class="device-box__date">
                    07.01.2026 11:12
                </p>
                <p class="device-box__series">
                    R30612251082, блок: CZ4V1R10625250443
                </p>
            </div>
            <p class="account-table__empty" style="display: none;">Нічого не знайдено</p>
        </div>
        <button type="button" class="btn-more">
            <span class="border-gradient">Показати ще</span>
        </button>
    </div>
</div>