<div class="account-info account-info--services">
    <div class="account-info__head">
        <h3 class="account-info__title">Мої сервіси</h3>
        <a href="javascript: void(0)" class="link-accent js-app-trigger">
            <span>Подати заявку</span>
        </a>
    </div>
    <div class="site-search">
        <div class="site-search__field js-search-panel">
            <form>
                <input type="search" name="siteSearch" id="siteSearch" placeholder="Пошук сервісів">
                <button class="site-search__clear js-search-clear" type="button">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2095_14294)">
                            <path
                                d="M14.4 27L13 25.6L18.6 20L13 14.4L14.4 13L20 18.6L25.6 13L27 14.4L21.4 20L27 25.6L25.6 27L20 21.4L14.4 27Z"
                                fill="#B0BEC9" />
                        </g>
                        <defs>
                            <clipPath id="clip0_2095_14294">
                                <rect width="40" height="40" rx="20" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="account-table account-table--sm">
        <div class="account-table__head">
            <p class="account-table__heading">Номер/Дата</p>
            <p class="account-table__heading">Статус</p>
            <p class="account-table__heading">Обладнання</p>
        </div>
        <div class="account-table__items">
            <a href="cabinet-service.html" class="work-box">
                <div class="work-box__details">
                    <p>№ 00001</p>
                    <span>від 07.01.2026 11:12</span>
                </div>
                <p class="work-box__status status--done">
                    Нова заявка
                </p>
                <p class="work-box__product">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
            </a>
            <a href="javascript: void(0)" class="work-box">
                <div class="work-box__details">
                    <p>№ 00001</p>
                    <span>від 07.01.2026 11:12</span>
                </div>
                <p class="work-box__status status--waiting">
                    Очікує оплату
                </p>
                <p class="work-box__product">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
            </a>
            <a href="javascript: void(0)" class="work-box">
                <div class="work-box__details">
                    <p>№ 00001</p>
                    <span>від 07.01.2026 11:12</span>
                </div>
                <p class="work-box__status status--done">
                    Очікує оплату
                </p>
                <p class="work-box__product">
                    Лампа sunuv sun 2c 48 White для мыныкюру з кварцевими діодами (Оригінал)
                </p>
            </a>
            <a href="javascript: void(0)" class="work-box">
                <div class="work-box__details">
                    <p>№ 00001</p>
                    <span>від 07.01.2026 11:12</span>
                </div>
                <p class="work-box__status status--warning">
                    Чекаємо зворотнього звяʼзку
                </p>
                <p class="work-box__product">
                    Фрезер KRYPTON II XPS-300 (полегшена ручка) на 70 вт. за 30000 об./хв. для мінікюру та педикюру
                </p>
            </a>
            <a href="javascript: void(0)" class="work-box">
                <div class="work-box__details">
                    <p>№ 00001</p>
                    <span>від 07.01.2026 11:12</span>
                </div>
                <p class="work-box__status status--received">
                    Пристрій отримано
                </p>
                <p class="work-box__product">
                    Фрезер KRYPTON II XPS-300 (полегшена ручка) на 70 вт. за 30000 об./хв. для мінікюру та педикюру
                </p>
            </a>
            <a href="javascript: void(0)" class="work-box">
                <div class="work-box__details">
                    <p>№ 00001</p>
                    <span>від 07.01.2026 11:12</span>
                </div>
                <p class="work-box__status status--cancel">
                    Скасовано
                </p>
                <p class="work-box__product">
                    Фрезер KRYPTON II XPS-300 (полегшена ручка) на 70 вт. за 30000 об./хв. для мінікюру та педикюру
                </p>
            </a>
            <p class="account-table__empty" style="display: none;">Нічого не знайдено</p>
        </div>
        <button type="button" class="btn-more">
            <span class="border-gradient">Показати ще</span>
        </button>
    </div>
</div>