<div class="account-info account-info--service">
    <div class="account-info__head">
        <a href="cabinet-services.html" class="account-info__title">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1932_14833)">
                    <path
                        d="M15.5186 21.0009C14.2144 21.0009 13.4585 22.4779 14.2213 23.5358L22.7065 32.0211L21.2923 33.4353L10.3936 22.5366L10.3916 17.466L21.2923 6.56526L22.7065 7.97947L14.2206 16.4654C13.4579 17.5239 14.2142 19.0011 15.5188 19.0011H34.7267V21.0009H15.5186Z"
                        fill="#072136" />
                </g>
                <defs>
                    <clipPath id="clip0_1932_14833">
                        <rect width="40" height="40" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            Сервіс № 00001
        </a>
    </div>
    <div class="service-details">
        <div class="service-info">
            <div class="pay-box">
                <div class="pay-box__head">
                    <p>До оплати:</p>
                    <span>1280 ₴</span>
                </div>
                <a href="javascript: void(0)" class="link-accent">
                    <span>Сплатити</span>
                </a>
            </div>
            <div class="download-box">
                <a href="./assets/images/mvp2/pdf.svg" download class="download-box__wrapper">
                    <p class="download-box__info">
                        <img src="./assets/images/mvp2/pdf.svg" alt="PDF">
                        Акт виконаних робіт (PDF)
                    </p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M20.3895 21.2624H3.60938V12.9141H5.20028V17.2851C5.20028 18.6036 6.26818 19.6715 7.58665 19.6715H16.4143C17.7328 19.6715 18.8006 18.6036 18.8006 17.2851V12.9141H20.3916V21.2624H20.3895Z"
                            fill="black" />
                        <path
                            d="M18.4125 9.47777L11.9992 15.7658L5.58594 9.47777L6.69957 8.34227L9.85059 11.4317C10.3537 11.9249 11.2029 11.5689 11.2029 10.8639V2.7373H12.7938V10.8639C12.7938 11.5689 13.6429 11.9249 14.146 11.4317L17.2971 8.34227L18.4107 9.47777H18.4125Z"
                            fill="black" />
                    </svg>
                </a>
            </div>
            <div class="service-info__boxes">
                <div class="service-info__box">
                    <p class="service-info__title">Основна інформація</p>
                    <div class="service-info__details">
                        <div class="service-info__data">
                            <span>Дата створення</span>
                            <div class="service-info__content">
                                <p>07.01.2026 11:12</p>
                            </div>
                        </div>
                        <div class="service-info__data">
                            <span>Прилад</span>
                            <div class="service-info__content">
                                <p>Назва приладу</p>
                            </div>
                        </div>
                        <div class="service-info__data">
                            <span>Серійний номер</span>
                            <div class="service-info__content">
                                <p>R30612251082, блок: CZ4V1R10625250443</p>
                            </div>
                        </div>
                        <div class="service-info__data">
                            <span>Тип ремонту</span>
                            <div class="service-info__content">
                                <p>Гарантійний</p>
                            </div>
                        </div>
                        <div class="service-info__data">
                            <span>Опис причин звернення</span>
                            <div class="service-info__content">
                                <p>
                                    Опис причин звернення, Опис причин звернення, Опис причин звернення, Опис причин
                                    звернення, Опис причин звернення, Опис причин звернення, Опис причин звернення, Опис
                                    причин звернення, Опис причин звернення, Опис причин звернення
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-info__box">
                    <p class="service-info__title">Заключення </p>
                    <div class="service-info__details">
                        <div class="service-info__data">
                            <div class="service-info__content service-info__content--lg">
                                <p>Виконані роботи</p>
                            </div>
                        </div>
                        <div class="service-info__data">
                            <div class="service-info__content service-info__content--lg">
                                <p>Додаткові роботи</p>
                            </div>
                        </div>
                        <div class="service-info__data">
                            <div class="service-info__content service-info__content--lg">
                                <p>Заключення майстра</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-info__box">
                    <p class="service-info__title">Зворотня доставка</p>
                    <div class="service-info__details">
                        <div class="service-info__data">
                            <div class="service-info__content">
                                <p>Зворотня ТТН</p>
                            </div>
                        </div>
                        <div class="service-info__data">
                            <div class="service-info__content">
                                <p>Адреса зворотної доставки</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-statuses">
            <div class="service-statuses__inner">
                <ul class="service-statuses__list">
                    <li class="service-statuses__point point-done">Нова заявка</li>
                    <li class="service-statuses__point point-done">Чекаємо зворотнього звяʼзку</li>
                    <li class="service-statuses__point point-done">Уточнення</li>
                    <li class="service-statuses__point point-done">Підтверджено</li>
                    <li class="service-statuses__point point-done">Пристрій отримано</li>
                    <li class="service-statuses__point point-done">Передано в роботу</li>
                    <li class="service-statuses__point point-done">Очікує запчастини</li>
                    <li class="service-statuses__point point-done">Очікує погодження ремонту</li>
                    <li class="service-statuses__point point-done">Ремонт</li>
                    <li class="service-statuses__point point-process">Очікує оплату</li>
                    <li class="service-statuses__point">Готується до відправки</li>
                    <li class="service-statuses__point">ВІдправлено клієнту</li>
                    <li class="service-statuses__point">Завершено</li>
                </ul>
            </div>
        </div>
    </div>
</div>