<nav class="nav-panel">
    <ul>
        {{#each menuInfo.menuHeader}}
        <li>
            <a href="{{url}}" class="{{#if (eq id @root.pageId)}}is-active{{/if}}">
                <span>{{title}}</span>
                <span>{{title}}</span>
            </a>
            {{#if submenu}}
            <ul>
                {{#each submenu}}
                <li>
                    <a href="{{url}}">
                        {{title}}
                        <span></span>
                    </a>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</nav>