<div class="price-box js-price-box">
    <a href="javascript: void(0)" class="price-box__info">
        <div class="price-box__pic cross-block cross-block--br">
            <img src="{{picture}}" alt="{{title}}">
        </div>
        <div class="price-box__details">
            <p class="price-box__title">{{title}}</p>
            <p class="price-box__descr">{{description}}</p>
        </div>
    </a>
    <div class="price-box__foot">
        <span class="price-box__price">від 250 ₴</span>
        <a href="#" class="price-box__cta js-questions-btn" data-product-name="Мене цікавить {{title}}">
            <span>Придбати</span>
        </a>
    </div>
</div>