<div class="mobile-menu js-mob-menu">
    <div class="mobile-menu__box">
        {{> _navPanel}}

        <ul class="mobile-menu__langs">
            <li>
                <a href="javascript: void(0)" class="is-current">ua</a>
            </li>
            <li>
                <a href="javascript: void(0)">en</a>
            </li>
        </ul>
        <div class="mobile-menu__controls">
            {{> _linkAccent
                label = "Подати  заявку"
            }}
            {{> _linkSecondary
                label = "Зареєструвати пристрій"
            }}
            {{> _linkAccount}}
        </div>
    </div>
</div>