<div class="modal modal--questions js-questions-modal">
    <div class="modal__box js-questions-box">
        <button type="button" class="modal__close js-questions-close">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.784524 23.1376L12 11.9221M12 11.9221L0.784525 0.706686M12 11.9221L23.2154 0.706649M12 11.9221L23.2154 23.1375"
                    stroke="#537896" stroke-width="2" />
            </svg>
        </button>
        {{> _titleBuilder
            className = 'section-title'
            tagWrapper = 'p'
            label = 'Залишились питання'
        }}
        <p class="modal__subtitle">
            Зв’язатися з нами. Наші фахівці завжди готові допомогти та надати потрібну інформацію.
        </p>
        <form>
            <div class="modal__fields">
                {{> _fieldInput
                    labelTarget = "contactBoxName"
                    labelText = "Ваше Імʼя *"
                    fieldType = "text"
                    fieldName = "contactBoxName"
                    fieldId = "contactBoxName"
                }}
                {{> _fieldInput
                    labelTarget = "contactBoxPhone"
                    labelText = "Номер телефону *"
                    fieldType = "text"
                    fieldName = "contactBoxPhone"
                    fieldId = "contactBoxPhone"
                }}
                {{> _fieldInput
                    labelTarget = "contactBoxEmail"
                    labelText = "Електрона пошта *"
                    fieldType = "email"
                    fieldName = "contactBoxEmail"
                    fieldId = "contactBoxEmail"
                }}
                {{> _fieldTextArea
                    labelTarget = "contactBoxMessage"
                    labelText = "Ваше запитання *"
                    fieldName = "contactBoxMessage"
                    fieldId = "contactBoxMessage"
                }}
            </div>
            <div class="modal__foot">
                <p class="modal__tcpa">
                    Натискаючт кнопку ви погоджуєтесь з нашою <a target="_blank" href="javascript: void(0)">Політикою конфеденційності</a> та <a target="_blank" href="javascript: void(0)">Обробкою персональных данных</a>
                </p>
                <button type="submit" class="link-accent"><span>Надіслати</span></button>
            </div>
        </form>
    </div>
</div>