<div class="modal modal--memory js-memory-modal">
    <div class="modal__box">
        <div class="tribute-content">
            <div class="tribute-content__show">
                <video muted autoplay loop playsinline class="js-memory-video" poster="./assets/video/memory-poster.png">
                    <source src="./assets/video/memory.mp4" data-src="./assets/video/memory.mp4" type="video/mp4">
                    <p>Your browser does not support the video tag.</p>
                </video>
            </div>
            <p class="tribute-content__title">Зупинись на хвилину о 9:00</p>
            <p class="tribute-content__subtitle">
                Усією країною вшановуємо памʼять загиблих на війні.
            </p>
            <span class="tribute-content__timer js-memory-timer">01:00</span>
        </div>
    </div>
</div>