<div class="support-box">
    <p class="support-box__message js-support-mess">є питання ?</p>
    <button type="button" class="support-box__trigger js-support-btn">
        <img src="./assets/images/mvp2/support-chat.svg" alt="Support">
        <img src="./assets/images/mvp2/support-close.svg" alt="Support">
    </button>
    <div class="support-box__soc">
        <div class="support-box__connect">
            <a target="_blank" href="javascript: void(0)">
                <img src="./assets/images/mvp2/telegram.svg" alt="Telegram">
            </a>
            <a target="_blank" href="javascript: void(0)">
                <img src="./assets/images/mvp2/whatsup.svg" alt="Whatup">
            </a>
            <a target="_blank" href="javascript: void(0)">
                <img src="./assets/images/mvp2/viber.svg" alt="Viber">
            </a>
        </div>
    </div>
</div>