<select data-placeholder="Оберіть причину звернення" name="selectReasons[]" class="form-select js-select-tags" multiple>
    <option value=""></option>
    <option value="Причина ">Причина </option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
    <option value="Причина звернення">Причина звернення</option>
</select>