<!DOCTYPE html>
<html lang="uk">

<head>
    {{> _head}}
</head>

<body>
    {{> _loader}}
    {{> _header}}
    <main class="main">
        {{> _videoAttachement}}
        {{> body}}
    </main>

    {{> _footer}}
    {{> _mobileMenu}}
    {{> _modalRequestCall}}
    {{> _modalApplication}}
    {{> _modalMemory}}
    {{#if modalReview}} {{> _modalReview}} {{/if}}
    {{> _modalSearch}}
    {{> _supportBox}}
    {{> _modalBasket}}
    {{> _modalUser}}
    {{> _modalEdit}}
    {{> _modalDel}}
</body>

</html>