@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.about {
    padding-top: var(--header-h);
    position: relative;
    background: #16181d;

    .tag {
        border-color: #e6e7ec;
        color: #e6e7ec;
        margin-bottom: rem(16px);
    }

    &__description {
        display: flex;
        justify-content: space-between;
        gap: rem(24px);
        padding-block: 0 rem(88px);
        @include media('laptop') {
            flex-direction: column;
        }
        @include media('mobile') {
            padding-block: rem(0px) rem(56px);
            gap: rem(12px);
        }
    }

    &__info {
        max-width: rem(852px);
        @include media('laptop') {
            max-width: 100%;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            font: 600 #{rem(40px)} / 130% $ff;
            letter-spacing: -2px;
            margin: 0 0  rem(28px) 0;
            color: #fff;
            @include media('tablet') {
                font-size: rem(32px);
            }
            @include media('mobile') {
                font-size: rem(24px);
                margin: 0 0  rem(16px) 0;
            }
        }

        p {
            font: 400 #{rem(24px)} / 130% $ff;
            letter-spacing: -1px;
            color: #b0bec9;

            &:where(:not([class]):not(:last-child)) {
                @include media('mobile') {
                    margin-bottom: rem(12px);
                }
            }

            @include media('mobile') {
                font-size: rem(18px);
            }
        }
        ol,
        ul {
            margin: 0 0 rem(16px) 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: rem(16px);
            color: #b0bec9;
            @include media('mobile') {
                gap: rem(12px);
            }

            li {
                gap: rem(8px);
                font: 400 #{rem(20px)} / 30px $ff;
                display: inline-flex;
                @include media('mobile') {
                    font-size: rem(16px);
                    line-height: 120%;
                    align-items: baseline;
                }
            }
        }

        ol {
            counter-reset: item;

            li {
                counter-increment: item;
                &::before {
                    flex-shrink: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    content: counter(item);
                    font: 600 #{rem(15px)} / 140% $ff;
                    text-transform: uppercase;
                    width: rem(40px);
                    height: rem(30px);
                    @include media('mobile') {
                        width: rem(30px);
                        height: rem(30px);
                    }
                }
            }
        }

        ul {
            li {
                &::before {
                    content: '';
                    mask: url('../images/icons/ico-check.svg') no-repeat center
                        center;
                    background: #b0bec9;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: rem(40px);
                    height: rem(40px);
                    @include media('mobile') {
                        width: rem(30px);
                        height: rem(30px);
                    }
                }
            }
        }

        *:last-child {
            margin: 0;
        }
    }

    &__heading {
        max-width: rem(592px);
        @include media('laptop') {
            max-width: 100%;
        }
    }
}
