@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.about {
    padding-top: var(--header-h);
    position: relative;
    background: #16181d;

    .tag {
        border-color: #e6e7ec;
        color: #e6e7ec;
        margin-bottom: rem(16px);
    }

    .section-title {
        color: $c_white;
        @include media('mobile') {
            margin-bottom: rem(12px);
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        gap: rem(24px);
        padding-block: 0 rem(88px);
        @include media('laptop') {
            flex-direction: column;
        }
        @include media('mobile') {
            padding-block: rem(0px) rem(56px);
            gap: rem(12px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(28px);
        max-width: rem(852px);
        @include media('laptop') {
            max-width: 100%;
        }
        @include media('mobile') {
            gap: rem(12px);
        }
    }

    &__heading {
        max-width: rem(592px);
        @include media('laptop') {
            max-width: 100%;
        }
    }

    &__text {
        p {
            font: 400 #{rem(24px)} / 130% $ff;
            letter-spacing: -1px;
            color: #b0bec9;

            @include media('mobile') {
                font-size: rem(18px);
            }
        }
    }

    p:where(:not([class]):not(:last-child)) {
        @include media('mobile') {
            margin-bottom: rem(12px);
        }
    }
}
