@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.actual {
    padding-block: rem(72px) rem(80px);
    background: #16181d;
    backdrop-filter: blur(44px);
    @include media('mobile') {
        padding-block: rem(56px);
        overflow: hidden;
    }

    .container {
        @include media('mobile') {
            padding: 0;
        }
    }

    .tag {
        border-color: #ebebeb;
        color: #ebebeb;
    }

    .section-title {
        color: #ebebeb;
    }

    &__head {
        margin-bottom: rem(56px);
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        @include media('mobile') {
            margin-bottom: rem(24px);
            gap: rem(8px);
            padding-inline: var(--container_pdd);
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: rem(16px);
        @include media('desktop') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include media('mobile') {
            display: flex;
            scroll-snap-type: x mandatory;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
            gap: rem(12px);
            padding-inline: var(--container_pdd);
            scroll-padding-inline: var(--container_pdd);

            .blog-box {
                flex-shrink: 0;
                scroll-snap-align: start;
                max-width: rem(310px);
                width: 100%;
            }
        }
    }
}
