@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.brands {
    padding-block: rem(40px);
    background: $bg_content;
    @include media('mobile') {
        padding-block: rem(24px);
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(24px);
        margin-bottom: rem(16px);
        @include media('mobile') {
            flex-direction: column;
            gap: rem(12px);
            margin-bottom: rem(24px);
            align-items: flex-start;
        }
    }

    &__title {
        font: 600 #{rem(15px)} / 140% $ff;
        text-transform: uppercase;
    }
}
