@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.control {
    padding-block: rem(105px);
    background: $c_white;

    &--reverse {
        .container {
            flex-direction: row-reverse;
        }
    }

    &--colored {
        background: #e6e7ec;
    }

    @include media('mobile') {
        padding-block: rem(56px);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: rem(24px);
        @include media('tablet') {
            flex-direction: column-reverse;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: rem(705px);
        color: #072136;
        @include media('desktop-lg') {
            width: 50%;
            max-width: 100%;
        }

        @include media('tablet') {
            width: 100%;
        }

        *:last-child {
            margin-bottom: 0;
        }

        h2 {
            margin: 0 0 rem(24px) 0;
            font: 600#{rem(56px)} / 100% $ff;
            letter-spacing: -2px;
            @include media('laptop') {
                font-size: rem(46px);
            }
            @include media('tablet') {
                font-size: rem(38px);
            }
            @include media('mobile') {
                font-size: rem(28px);
            }
        }

        h3,
        h4,
        h5,
        h6 {
            margin: 0 0 rem(24px) 0;
            font: 700 #{rem(20px)} / 30px $ff;
            @include media('mobile') {
                font-size: rem(18px);
                line-height: 120%;
            }
        }

        p {
            font: 400 #{rem(20px)} / 30px $ff;
            @include media('mobile') {
                font-size: rem(16px);
                line-height: 120%;
            }

            &:has(+ ol) {
                margin-bottom: rem(16px);
            }
        }

        ol,
        ul {
            padding: 0;
            margin: 0 0 rem(40px);
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap: rem(16px);
            @include media('mobile') {
                gap: rem(12px);
                margin: 0 0 rem(24px);
            }

            li {
                position: relative;
                font: 400 #{rem(20px)} / 30px $ff;
                @include media('mobile') {
                    font-size: rem(16px);
                }

                &::before {
                    flex-shrink: 0;
                }
            }
        }

        ul {
            li {
                padding-left: rem(48px);
                @include media('mobile') {
                    padding-left: rem(32px);
                }
                &::before {
                    left: 0;
                    top: rem(-5px);
                    position: absolute;
                    content: '';
                    width: rem(40px);
                    height: rem(40px);
                    mask: url('../images/icons/ico-check.svg') no-repeat center
                        center;
                    background: $c_blue;
                    @include media('mobile') {
                        width: rem(24px);
                        height: rem(24px);
                        top: rem(3px);
                    }
                }
            }
        }

        ol {
            counter-reset: counter;

            li {
                counter-increment: counter;
                padding-left: rem(48px);
                @include media('mobile') {
                    padding-left: rem(32px);
                }
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: counter(counter);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font: 600 #{rem(15px)} / 140% $ff;
                    text-transform: uppercase;
                    width: rem(40px);
                    height: rem(30px);
                    @include media('mobile') {
                        font-size: rem(14px);
                        width: rem(24px);
                        height: rem(24px);
                        top: rem(3px);
                    }
                }
            }
        }
    }

    &__pic {
        max-width: rem(852px);
        @include media('desktop-lg') {
            width: 50%;
            max-width: 100%;
        }
        @include media('tablet') {
            width: 100%;
        }
    }

    .cross-block {
        --cross-size: #{rem(300px)};

        @include media('desktop') {
            --cross-size: #{rem(200px)};
        }
        @include media('laptop') {
            --cross-size: #{rem(100px)};
        }
        @include media('mobile') {
            --cross-size: #{rem(75px)};
        }
    }
}
