@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.hero {
    padding-top: var(--header-h);
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: grid;

    @include media('mobile') {
        padding-block: rem(120px) 40px;
    }

    .link-accent,
    .link-secondary {
        @include media('mobile') {
            width: 100%;
            span {
                width: 100%;
            }
        }
    }

    .section-heading {
        background: linear-gradient(
            90deg,
            #c2c2c2 0%,
            #ffffff 44.1%,
            #cdcdcd 84.93%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .tag {
        opacity: 1;
        color: #86898d;
        border-color: #86898d;
    }

    .container {
        &--th {
            pointer-events: none;
            right: 0;
            display: flex;
            justify-content: flex-end;
            padding-block: rem(40px);
            z-index: 4;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            @media (max-width: 1480px) {
                left: 70%;
            }
            @include media('desktop-lg') {
                left: auto;
                right: 0;
                transform: translate(0);
                transform: translateY(-10%);
                justify-content: flex-end;
                align-items: flex-end;
            }
            @include media('laptop') {
                display: none;
            }
        }

        &--c {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: rem(117px);
            position: absolute;
            top: calc(50% + var(--header-h) / 2);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding-inline: rem(50px);
            padding-block: rem(50px);
            max-width: rem(1536px);
            @include media('desktop-lg') {
                padding-inline: rem(70px);
                z-index: 6;
                backdrop-filter: blur(10px);
                max-width: calc(100% - var(--container_pdd) * 2);
            }
            @include media('mobile') {
                padding: rem(20px);
                position: relative;
                top: auto;
                transform: translate(0);
                left: auto;
                height: auto;
                backdrop-filter: blur(20px);

                &.cross-block {
                    --cross-size: #{rem(40px)};
                }
            }
        }
    }

    &__heading {
        max-width: rem(676px);
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        @media (max-width: 1480px) {
            max-width: rem(600px);
        }
    }

    &__info {
        max-width: rem(619px);
        display: flex;
        flex-direction: column;
        gap: rem(29px);
        @media (max-width: 1480px) {
            max-width: rem(600px);
        }
        @include media('mobile') {
            margin-top: auto;
        }
    }

    &__text {
        font: 400 #{rem(16px)} / 180% $ff;
    }

    &__windows {
        pointer-events: none;
        position: relative;
        z-index: 2;
        isolation: isolate;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        padding-block: rem(40px);
        height: 100%;
        mix-blend-mode: screen;
        background: $bg_content;
        @include media('desktop-lg') {
            padding: 0;
        }
        @include media('mobile') {
            display: none;
        }

        .container {
            @include media('desktop-lg') {
                padding: 0;
            }
        }

        .cross-block {
            --cross-size: #{rem(120px)};
            @include media('desktop-lg') {
                --cross-size: #{rem(0px)};
                border-radius: 0;
            }
        }

        .container {
            height: 100%;
            width: 100%;
        }
    }

    &__wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr 245px;
        gap: 8px;
        background: $bg_content;
        @include media('desktop-lg') {
            gap: 0;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: rem(8px);
        @include media('mobile') {
            flex-direction: column;
        }
    }

    &__window {
        position: relative;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        overflow: hidden;
        background: #000;

        &:nth-child(3) {
            border-bottom-right-radius: 16px;
            @include media('desktop-lg') {
                border-radius: 0;
            }
        }
    }

    &__chip {
        z-index: 6;
        position: absolute;
        right: rem(350px);
        top: rem(70px);
        max-width: rem(484px);
    }

    &__blur {
        position: absolute;
        right: rem(250px);
        top: rem(70px);
        max-width: rem(672px);
        @include media('desktop-lg') {
            right: rem(750px);
        }
    }
}
