@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.intro {
    overflow: hidden;
    padding-block: var(--header-h) rem(48px);
    .container {
        position: relative;
    }
    .section-heading {
        color: #e6e7ec;
    }

    .tag {
        margin-bottom: rem(16px);
        border-color: #e6e7ec;
        color: #e6e7ec;
    }
}
