@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.preview {
    min-height: fit-content;
    padding-block: rem(80px);
    background: $bg_content;
    @include media('mobile') {
        padding-block: rem(56px);
        overflow: hidden;

        &:has(.brands-box) {
            .container {
                padding: 0;
            }

            .preview__descr {
                padding-inline: var(--container_pdd);
            }
        }
    }

    &:has(.testimonial-collect) {
        padding-block: rem(80px) rem(80px);
        @include media('mobile') {
            padding-block: rem(56px);
        }
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(24px);
        @include media('laptop') {
            flex-direction: column;
        }
    }

    &__descr {
        max-width: rem(563px);
        position: sticky;
        top: var(--header-h);
        @include media('laptop') {
            top: auto;
            max-width: 100%;
            position: static;
        }
    }

    &__txts {
        padding-block: rem(32px);
        position: relative;
        margin-bottom: rem(32px);

        @include media('mobile') {
            padding-block: rem(24px);
            margin-bottom: rem(24px);
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1px;
            background:
                linear-gradient(0deg, #de5126, #de5126),
                linear-gradient(0deg, #ff6122, #ff6122);
        }

        p {
            font: 400 #{rem(20px)} / 30px $ff;
            color: $c_blue;
            @include media('mobile') {
                font-size: rem(16px);
                line-height: 120%;
                &:where(:not([class]):not(:last-child)) {
                    margin-bottom: rem(12px);
                }
            }
        }
    }

    .faq-list {
        max-width: rem(852px);
    }
}
