@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.preview {
    min-height: fit-content;
    padding-block: rem(80px);
    background: $bg_content;
    @include media('mobile') {
        padding-block: rem(56px);
        overflow: hidden;

    }
    @include media('desktop') {
        &:has(.testimonial-collect) {
            .container {
                flex-direction: column;
            }

            .preview__descr {
                top: auto;
                max-width: 100%;
                position: static;
            }
        }
    }

    &:has(.testimonial-collect) {
        padding-block: rem(80px) rem(80px);
        @include media('mobile') {
            padding-block: rem(56px);
        }
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(24px);
        @include media('laptop') {
            flex-direction: column;
        }
    }

    &__descr {
        max-width: rem(563px);
        position: sticky;
        top: var(--header-h);
        @include media('laptop') {
            top: auto;
            max-width: 100%;
            position: static;
        }
    }

    &__info {
        padding-bottom: rem(32px);
        position: relative;
        margin-bottom: rem(32px);

        @include media('mobile') {
            padding-bottom: rem(24px);
            margin-bottom: rem(24px);
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1px;
            background:
                linear-gradient(0deg, #de5126, #de5126),
                linear-gradient(0deg, #ff6122, #ff6122);
        }

        h2 {
            font: 600 #{rem(40px)} / 130% $ff;
            margin: 0 0 rem(32px) 0;
            letter-spacing: -2px;
            color: $c_secondary;
            @include media('tablet') {
                font-size: rem(32px);
            }
            @include media('mobile') {
                font-size: rem(24px);
                margin: 0 0 rem(24px) 0;
            }
        }

        h3,
        h4,
        h5,
        h6 {
            margin: 0 0 rem(32px) 0;
            font: 600 #{rem(28px)} / 100% $ff;
            letter-spacing: -1px;
            color: $c_secondary;
            @include media('tablet') {
                font-size: rem(24px);
            }
            @include media('mobile') {
                font-size: rem(18px);
                margin: 0 0 rem(24px) 0;
            }
        }

        p {
            font: 400 #{rem(20px)} / 30px $ff;
            color: $c_blue;
            @include media('mobile') {
                font-size: rem(16px);
                line-height: 120%;
                &:where(:not([class]):not(:last-child)) {
                    margin-bottom: rem(12px);
                }
            }
        }

        ol,
        ul {
            margin: 0 0 rem(16px) 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: rem(16px);
            @include media('mobile') {
                gap: rem(12px);
            }

            li {
                gap: rem(8px);
                font: 400 #{rem(20px)} / 30px $ff;
                display: inline-flex;
                @include media('mobile') {
                    font-size: rem(16px);
                    line-height: 120%;
                    align-items: baseline;
                }
            }
        }

        ol {
            counter-reset: item;

            li {
                counter-increment: item;
                &::before {
                    flex-shrink: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    content: counter(item);
                    font: 600 #{rem(15px)} / 140% $ff;
                    text-transform: uppercase;
                    width: rem(40px);
                    height: rem(30px);
                    @include media('mobile') {
                        width: rem(30px);
                        height: rem(30px);
                    }
                }
            }
        }

        ul {
            li {
                &::before {
                    content: '';
                    background: url('../images/icons/ico-check.svg') no-repeat
                        center center;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: rem(40px);
                    height: rem(40px);
                    @include media('mobile') {
                        width: rem(30px);
                        height: rem(30px);
                    }
                }
            }
        }

        *:last-child {
            margin-bottom: 0;
        }
    }

    .faq-list {
        max-width: rem(852px);
        @include media('laptop') {
            max-width: 100%;
        }
    }
}
