@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.prices {
    padding-block: rem(100px);
    background: $c_white;
    @include media('mobile') {
        padding-block: rem(56px);
    }

    &__panel {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(24px);
        margin-bottom: rem(40px);
        flex-direction: column;
        @include media('mobile') {
            flex-direction: column-reverse;
            margin-bottom: rem(36px);
            gap: rem(12px);
        }
    }

    &__controls {
        display: flex;
        gap: rem(24px);
        @include media('mobile') {
            width: 100%;
            gap: rem(12px);
            flex-wrap: wrap;
        }
    }

    &__reminder {
        max-width: rem(719px);
        display: flex;
        align-items: flex-start;
        gap: rem(16px);
        @include media('mobile') {
            gap: rem(2px);
        }

        > span {
            font: 400 #{rem(56px)} / 1 $ff;
            color: #ff6122;
            @include media('mobile') {
                font-size: rem(22px);
            }
        }

        p {
            font: 400 #{rem(20px)} / 30px $ff;
            color: #ff6122;
            @include media('mobile') {
                font-size: rem(14px);
                line-height: 120%;
            }
            span {
                font-weight: 600;
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: rem(16px);
        margin-bottom: rem(80px);
        @include media('desktop-lg') {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: rem(12px);
        }
        @include media('laptop') {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @include media('mobile') {
            margin-bottom: rem(56px);
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    &__content {
        // display: flex;
        flex-direction: column;
        align-items: center;
        display: none;

        &.is-active {
            display: flex;
            animation: pricesFadeIn 0.5s ease forwards;
        }
    }

    .btn-more {
        margin: 0 auto;
    }
}

@keyframes pricesFadeIn {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}
