@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.testimonials {
    overflow: hidden;
    padding-block: rem(52px) rem(100px);
    background: $bg_content;
    @include media('mobile') {
        padding-block: rem(56px);
    }

    &__head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: rem(12px);
        max-width: rem(1028px);
        margin: 0 auto rem(42px);
        flex-wrap: wrap;
        @include media('mobile') {
            margin-bottom: rem(24px);
            max-width: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        @include media('mobile') {
            gap: rem(12px);
        }
    }

    .testimonial-box {
        height: 100%;
    }
}
