@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;
.section-info {
    font: 400 #{rem(20px)} / 150% $ff;
    color: $c_half;

    @include media('mobile') {
        font-size: rem(16px);
        line-height: 120%;
    }

    a {
        text-decoration: underline;
    }
}
